

.flex-container {
    display: flex;
    flex-direction: row;
}


.sidebar {
    /*position: fixed;*/
    /*top: 53px; !* Adjust according to your navbar height *!*/
    /*left: 0;*/
    width: 200px;
    height: calc(100vh - 53px);
    background-color: grey;
    color: #fff;
    /*padding-top: 20px;*/
    /*overflow: hidden;*/
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    padding: 20px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-left: 200px; /* Adjust according to sidebar width */
    padding: 20px;
}